body {
    margin: 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
min-width: 450px;
}


/* style Navegacao */


header {
width: 97vvw;
    padding: 5px 10px;
    height: 8vh;
    box-shadow: 0px 1px 1px 1px rgba(60, 60, 60, 0.242);
}


#nav {
    display: inline-block;
    margin: 10px 30px;
}

.nav {
    
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin: 0px 15px 0px 7px;
}

.nav:hover {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: #FF831C;
}
.b1{
    display: inline-block;
}
#contra {
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

#contra:hover {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #FF831C, #860603);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    scale: 1.1;
}


/* Pefil Principal*/


main {
    height: 100vh;
}


/* Foto de perfil*/

#perfil {
    background-image: url('../IMG/ivanildo.png');
    background-position: top center;
    background-size: cover;
    width: 200px;
    height: 200px;
    max-width: 600px;
    max-height: 600px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
    margin-top: 15%;

}

#perfil:hover {
    box-shadow: 2px 2px 10px 2px rgb(60, 60, 60);
    scale: 1.02;
    background-image: url('../IMG/ivanildo.png');
    background-position: top center;
    background-size: cover;
    width: 200px;
    max-width: 600px;
    max-height: 600px;
    height: 200px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
    margin-top: 15%;
}

#Nome {
    font-size: 5,5vw;
    text-align: center;
    margin: 5px;
}


#Profissao {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(100, 100, 99);
    margin: 5px;
}

#Bio {
    font-size: 18px;
    margin: 10px auto 10px auto;
    text-align: center;
    max-width: 60%;
    color: #646463;
}

#chamada {
    min-width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
}

.Projeto {
    display: inline-block;
    color: #fff;
    background-color: black;
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}
.Projeto:hover {
    scale: 1.05;
    display: inline-block;
    color: #fff;
     background-image: linear-gradient(to right, #FF831C, #860603);
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}

.contato {
     display: inline-block;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px rgba(60, 60, 60, 0.242);
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}
.contato:hover{
    scale: 1.05;
     display: inline-block;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 4px rgba(60, 60, 60, 0.242);
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}


/* Redes sociais*/


#socias{
    margin-top: 5%;
    margin-bottom: 100px;
    display: inline-block;
 position: relative;
 left: 50%;
transform: translate(-50%);
}
.github{
    width: 30px;
    margin: 7px;
}
.whatsapp{
  width: 30px;
    margin: 7px;  
}.youtube{
   width: 30px;
    margin: 7px; 
}
.github:hover{
    width: 30px;
    margin: 7px;
    scale: 1.07;
}
.whatsapp:hover{
  width: 30px;
    margin: 7px; 
    scale: 1.07; 
}.youtube:hover{
   width: 30px;
    margin: 7px;
    scale: 1.07;
}


/*  Destaque    */


#destaque{
    padding: 50px 0px 0px 0px ;
    background-color: #d1cec97d;
}

#destaque>section>h1,
#destaque>section>h2{
    text-align: center;
}

.menbros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}


/*  Laboratorio   */
.caixa1{
background-color: #fff;
width: 380px;
margin: 10px;
height: 500px;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 0px 15px 4px  #646463c2;

}
.imagem1{
width: 380px;
height: 200px;
background-color: #fff;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-image: url('../IMG/laboratorio1.jpg');
background-size: cover;
}

/*  Design Grafico  */
.caixa2{
background-color: #fff;
width: 380px;
margin: 10px;
height: 500px;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 0px 15px 4px  #646463c2;

}
.imagem2{
width: 381px;
height: 200px;
background-color: #fff;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-image: url('../IMG/designer-grafico1.jpg');
background-size: cover;

}

/* DEV web Frontend and backend*/

.caixa3{
background-color: #fff;
width: 380px;
margin: 10px;
height: 500px;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 0px 15px 4px #646463c2;

}
.imagem3{
width: 381px;
height: 200px;
background-color: #fff;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-image: url('../IMG/dev1.jpg');
background-size: cover;
}

/*__________________________________*/

#lab,
#Design,

#dev{
    text-align: left;
    padding:  20px 20px 20px 20px;
    height: 40%;
}

#lab>span,
#Design>span,
#dev>span{
    font-weight: 500;
    font-size: 11px;
    border-radius: 16px;
    background-color: #d1cec97d;display: inline-block;
    padding: 8px 7px;
}
#lab>p,
#Design>p,
#dev>p{
    color:#646463
}

.botao-lab,
.botao-design,
.botao-dev{
    
     text-align: center;
    width: 100%;
}

.botao-lab>span,
.botao-design>span,
.botao-dev>span{
  display: inline-block;
    width: 40%;
padding: 7px ;
    border-radius: 8px;
    font-size: 14px;  
font-weight: 600;
box-shadow: 0px 0px 1px 1px #64646352;
}

/*__________________________________*/
