body {
    margin: 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {

    padding: 5px 10px;
    height: 50px;
    box-shadow: 0px 1px 1px 1px rgba(60, 60, 60, 0.242);
}

#nav {
    display: inline-block;
    margin: 10px 30px;
}

.nav {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    margin: 0px 20px;
}

.nav:hover {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: #b00ba2;
}

#contra {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

#contra:hover {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #0b0269, #761081);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    scale: 1.1;
}

main {
    height: 100vh;
}

#perfil {
    background-image: url(/Meus-Portifolio/IMG/Perfil.jpg);
    background-position: top center;
    background-size: cover;
    width: 200px;
    max-width: 600px;
    max-height: 600px;
    height: 200px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
    margin-top: 15%;

}

#perfil:hover {
    box-shadow: 2px 2px 10px 2px rgb(60, 60, 60);
    scale: 1.02;
    background-image: url(/Meus-Portifolio/IMG/Perfil.jpg);
    background-position: top center;
    background-size: cover;
    width: 200px;
    max-width: 600px;
    max-height: 600px;
    height: 200px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    border-radius: 50%;
    margin-top: 15%;
}

#Nome {
    font-size: 2.5em;
    text-align: center;
    margin: 5px;
}

#Nome:hover {
    font-size: 2.5em;
    text-align: center;
    margin: 5px;
}

#Profissao {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgb(100, 100, 99);
    margin: 5px;
}

#Bio {
    font-size: 18px;
    margin: 10px auto 10px auto;
    text-align: center;
    max-width: 60%;
    color: rgb(100, 100, 99);
}

#chamada {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
}

.Projeto {
    display: inline-block;
    color: #fff;
    background-color: black;
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}
.Projeto:hover {
    scale: 1.05;
    display: inline-block;
    color: #fff;
    background-color: black;
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}

.contato {
     display: inline-block;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px rgba(60, 60, 60, 0.242);
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}
.contato:hover{
    scale: 1.05;
     display: inline-block;
    color: #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px rgba(60, 60, 60, 0.242);
    width: 170px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border-radius: 11px;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}