body{
    background-color: #4507ef;
}

.quadrado {
    border-radius: 20px;
    border: solid 1px #fff;
    height: 200px;
    margin: 10px;
    background-image: url('/Exercicios/IMG/wallpaper003.jpg');
}

div#b1 {
   background-position: right top ;
    
}

div#b2 {
    background-position: left bottom ;
}

div#b3 {
   background-position: left center ; 
}