body{
    background-image: linear-gradient(to bottom, #4507F0,#363146);
    height: 100vh;
}

.quadrado {
    border-radius: 20px;
    border: solid 1px #fff;
    height: 170px;
    margin: 10px;
    background-image: url('/Exercicios/IMG/wallpaper003.jpg');
    background-repeat: no-repeat;
}

div#b1 {
   background-position: right top ;
    
}

div#b2 {
    background-position: right center ;
}

div#b3 {
   background-position: left bottom ; 
}